<?xml version="1.0"?>
<config>
    <tabs>
        <lcbrq translate="label" module="lcb_richsnippets">
            <label>LCBRQ</label>
            <sort_order>1200</sort_order>
        </lcbrq>
    </tabs>
    <sections>
        <lcb_richsnippets translate="label" module="lcb_richsnippets">
            <label>Rich Snippets</label>
            <tab>lcbrq</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <organization translate="label">
                    <label>Organization</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <locality translate="label">
                            <label>Locality</label>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </locality>
                        <name translate="label">
                            <label>Name</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <street translate="label">
                            <label>Street</label>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street>
                        <postcode translate="label">
                            <label>Postcode</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postcode>
                        <region translate="label">
                            <label>Region</label>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </region>
                        <telephone translate="label">
                            <label>Telephone</label>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </telephone>
                    </fields>
                </organization>
            </groups>
        </lcb_richsnippets>
    </sections>
</config>
